body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: rgba(146, 224, 247, 0.986);
}
.container {
    padding-top: 50px;
}
#noButton {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: rgb(254, 181, 255);
    border: none;
    cursor: pointer;
}
#yesButton {
    padding: 10px 20px;
    font-size: 16px;
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    margin-top: 20px;
}
.heart {
    position: absolute;
    font-size: 24px; /* Adjust size as needed */
    color: red; /* Adjust color as needed */
}


